* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedorProductos {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1rem;
}

@media (max-widht: 700px) {
    .filters {
        display: flex;
        flex-direction: column;
    }
}

/* Estilos generales */
.wrapper {
    padding: 20px;
}

.filters {
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .dropdowns {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .contenedorProductos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
    .filters {
        padding: 10px;
    }

    .dropdown {
        margin-bottom: 10px;
    }

    .filters>div {
        margin-bottom: 10px;
    }

    .contenedorProductos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .dropdown {
        margin-right: 10px;
    }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 992px) {
    .filters {
        flex-direction: row;
    }

    .dropdown {
        margin-right: 10px;
    }
}