* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedorProductos {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1rem;
}

@media (max-widht: 700px) {
    .filters {
        display: flex;
        flex-direction: column;
    }
}