* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
}

li {
    list-style: none;
}

.presentation {
    margin-top: 10rem;
    padding: 5rem;
}


.paymethods__card {
    padding: 1rem;
}

span {
    display: block;
}